version: "3.9"
services:
  # app:
  #   build:
  #     context: . # Path to your NestJS project root
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - postgres
  #   environment:
  #     - POSTGRES_HOST=postgres
  #     - POSTGRES_PORT=5432
  #     - POSTGRES_USER=poll_user
  #     - POSTGRES_PASSWORD=poll_password
  #     - POSTGRES_DB=poll_db
  #     - NODE_ENV=development # Or production
  #   volumes:
  #     - .:/app # Mount your project for development (optional)
  #     - node_modules:/app/node_modules # Persist node_modules

  postgres:
    image: "postgres:14" # Use a specific version for consistency
    ports:
      - "5432:5432" # Only needed if you want to access from host directly
    environment:
      - POSTGRES_USER=poll_user
      - POSTGRES_PASSWORD=poll_password
      - POSTGRES_DB=poll_db
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persist data

volumes:
  postgres_data:
  node_modules:
  